@font-face{
    font-family: 'KeepCalm-Medium';
    src: url(../fonts/KeepCalm-Medium.ttf);
}

body {
    background-image: url(../images/sfondo2.png);
    height: 100%;
    color: #ffff00;
    font-family: 'KeepCalm-Medium', sans-serif;
}

.header {
    text-align: center;
    font-size: 30px;
}

.title {
    text-align: center;
    font-family: 'KeepCalm-Medium', cursive;
    font-size: 45px;
	color: #ffffff;
}


.subtitle {
    font-family: 'KeepCalm-Medium', cursive;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 0px;
}

.description {
    text-align: center;
    font-family: 'KeepCalm-Medium', cursive;
    font-size: 20px;
    color: #ffffff;
}

.description2 {
    text-align: center;
    font-family: 'KeepCalm-Medium', cursive;
    font-size: 20px;
    color: #ffff00;
}

.fondo {
    font-family: 'KeepCalm-Medium', cursive;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
}



a:link, a:visited {
    text-decoration: none;
    }
a:hover, a:active {
    text-decoration: none;
}



.inner-list li {
    position: absolute;
    display: inline-block;
    left: 10px;
}

table {
    text-align: center;
}


.material {
    margin: 5px 7px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 2px #3f3f3f solid;
}

.icona {
    margin: 2px 2px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px #3f3f3f solid;
}



#materiale img:hover {
    margin: 5px 7px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 4px #3f3f3f solid;
}

#sfondo {
    margin: 5px 7px;
    width: 90px;
    height: 90px;
}

.text {
    padding-top: 0px;
}

.footer {
    display: block;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.menuchoice {
    text-align: center;
}

.buy-section {
	font-size: 70px;
    display: block;
    text-align: center;
}